@import 'colours.scss';

.footer {
  background-color: $baseSchoolColour;
  min-height: 200px;
  #footerCarousel {
    width: 50%;
    color: $white;
    min-height: 200px;
    .carousel-inner {
      padding-top: 25px;
      .item {
        font-size: 25px;
        padding-left: 15%;
        padding-right: 15%;
      }
    }
    .carousel-control {
        background-image: none;
    }
  }
  .copyright {
    background-color: $darkerSchoolColour;
    line-height: 50px;
    font-size: 16px;
    color: $white;
  }
}
