@import 'colours.scss';
.home {
  .directorPrincipalNews {
    padding: 30px;
    .director {
      border: 1px solid red;
      height: 500px;
      padding: 15px;
    }

    .principal {
      border: 1px solid red;
      height: 500px;
      padding: 15px;
    }

    .newsTile {
      border: 1px solid red;
      .newsVerticalScroll {
        background: $darkerSchoolColour;
        h2 {
          line-height: 50px;
          color: $white;
          margin: 0;
        }
      }
    }
  }
}
