.photoGallery {
  padding: 20px;
  margin: auto;
  .message {
    h1 {
      margin-bottom: 50px;
    }
    .photoGalleryIcon {
      font-size: 30px;
      padding-right: 20px;
    }
  }
  #photoGalleryCarousel {
    .row {
      img {
        padding-bottom: 10px;
      }
    }
    .carousel-inner {
      width: 90%;
      margin:auto;
    }
    .carousel-control {
      width: 5%;
      background-image: none;
    }
    .carousel-indicators {
      display: none;
    }
  }
}
