@import 'colours.scss';

.principalMessage {
  .message {
    h1 {
      margin-bottom: 50px;
    }
  }
  .row {
    background-color: $baseSchoolColour;
    margin-bottom: 20px;
    .col-sm-4 {
      padding-left: 70px;
      padding-right: 70px;
    }
    .col-sm-8 {
      padding: 80px 70px 30px 100px;
      font-size: 21px;
      line-height: 34px;
      #principalMessageCarousel {
        color: $white;
        min-height: 200px;
        padding: 30px;
        .carousel-inner {
          .item {
            font-size: 25px;
            padding-left: 15%;
            padding-right: 15%;
          }
        }
        .carousel-control {
            background-image: none;
        }
        .carousel-indicators {
          bottom: 0;
        }
      }
    }
  }
}
